.widgetLayer {
  position: fixed;
  inset: 0;
  z-index: 4;
  pointer-events: none;
}

.widget {
  position: absolute;
  pointer-events: auto;
}

.widgetFrame {
  width: fit-content;
}

.chatPanelContent {
  padding: 0px 16px 14px;
  overflow: hidden;
}

.queuePanelContent {
  padding: 0;
  overflow: hidden;
}

.profilePanelContent {
  padding: 0;
  overflow: auto;
}

.participantsPanelContent {
  padding: 0;
  overflow: hidden;
}

@media (min-width: 761px) and (max-height: 900px) {
  .chatPanelContent {
    padding: 0 12.8px 11.2px;
  }
}
