@font-face {
  font-family: "Bebas Neue";
  src: url("./BebasNeue-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.logo {
  font-family: "Bebas Neue", var(--font-suit), sans-serif;
  display: inline-flex;
  color: #3c3c3c;
  font-size: 20px;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

@media (min-width: 481px) and (max-width: 1600px) and (max-height: 900px) {
  .logo { font-size: 16px; }
}
