.root {
  min-height: 100%;
  overflow-x: hidden;
}

.fixedTopList {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.sortableList {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.fixedList {
  margin: 8px 0 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

@media (min-width: 761px) and (max-width: 1600px) and (max-height: 900px) {
  .fixedList { margin-top: 6.4px; }
}
