.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 24px;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightGroup {
  display: flex;
  align-items: center;
}
