.button {
  flex-shrink: 0;
  color: #8d8d8d;
  height: 28px;
  padding: 0 12px;
  border: 1px solid #d9d9d9;
  border-radius: 999px;
  font-size: 14px;
  font-weight: var(--fw-regular);
  line-height: 1;
  cursor: pointer;
}
